.root {
	-fx-background-color:white;
	
}

#center {
	-fx-font-family:monospace;
	-fx-font-size: 0.9em;
	-fx-font-weight: bold;
}

#top {
	  -fx-wrap-text: true;
	  -fx-padding: 5;
}
#bottom {
	-fx-padding: 5 10 5 10;
	-fx-spacing: 5;
	-fx-alignment: center-right; 
}
